gradio==4.38.1
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1
torch==2.3.1
transformers==4.43.2
sentence-transformers==3.0.1
openai==1.42.0
tqdm==4.66.4
langchain==0.2.6
langchain-community==0.2.6
faiss-cpu==1.8.0


## Why these packages?
1- gradio → Web UI for restaurant system
2- pandas, numpy, scikit-learn → Handle dataset, ML models, analytics
3- torch, transformers, sentence-transformers → NLP/ML models for recommendations
4- openai, langchain, faiss-cpu → For smart assistant / RAG chatbot
5- tqdm → Progress bars for training or processing
